<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">

        <activity
            android:name=".activities.ChangeRoleActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".activities.WorkerProfilForClientActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false">
        </activity>

        <!-- Login activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Signup Activity -->
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false">
        </activity>

        <!-- Client Home activity -->
        <activity
            android:name=".activities.ClientHomeActivity"
            android:exported="false">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>


        <activity
            android:name=".activities.splashactivity"
            android:exported="false"
            android:theme="@style/Theme.splashtheme">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Home bids for client -->
        <activity
            android:name=".activities.HomeBidsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- History CLient activity -->
        <activity
            android:name=".activities.ClientHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPrYbRRGBao520j0RKp8FZ8bq6qPrdmXQ" />

        <activity
            android:name=".activities.Job_Information_plus_maps"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".activities.mapactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <!-- Worker Home activity -->
        <activity
            android:name=".activities.WorkerHomeActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>